{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        /* Print-specific styles */
        @media print {
            /* Hide headers and footers */
            header, footer {
                display: none;
            }

            /* Hide URLs, page titles, and time/date */
            .url, .page-title, .time-date {
                display: none;
            }
        }
    </style>
    <title>Letter 7</title>
</head>

<body class="font-times text-xmlns">
    <div id="inputModal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <h2 class="text-xl mb-4">Enter Details</h2>
            <form id="inputForm">
                <div class="mb-4">
                    <label for="javakNo" class="block text-sm font-medium text-gray-700">जावक क्र./No. :</label>
                    <input type="text" id="javakNo" name="javakNo" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                </div>
                <div class="mb-4">
                    <label for="date" class="block text-sm font-medium text-gray-700">दिनांक/Date:</label>
                    <input type="date" id="date" name="date" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
                </div>
                <div class="mt-4">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="img">
            <img src="{% static '/images/header1.jpg' %}" alt="Description of the image" class="w-full h-56 rounded-lg" />
        </div>
        <div class="float-left">
            <p class="font-bold ml-8 mt-4">जावक क्र./No. :</p>
        </div>
        <div class="float-right">
            <p class="font-bold float-right mt-2 pr-20 mr-12">दिनांक/Date:</p>
        </div>
        <br><br>
        <div class="text-1xl text-left m-2 p-2">
            {% for provider_name, details in grouped_subproducts.items %}
                <p>
                    To. <br />
                    {{ provider_name }} <br />
                    {{ details.address }} <br />
                    {{ details.state }}, {{ details.pincode }}
                </p>
                <div class="flex justify-center p-4">
                    <p>
                        <b>Sub:-</b> Supply of {{ details.types_of_part }} for {{ details.products }}<br>
                        <b>Ref:-</b> Service report dated for item {{ details.parts_and_dates|group_parts_and_dates }}
                    </p>
                </div>
            
                    <div class="w-[600] text-left">
                        <p>Sir,<br> With reference to your quotation No {{ quotation.ref_no }} at Reference above, it is requested to supply & install the following items for the best performance of the equipment at 
                        {% if letter.lab_name == "Mumbai" %}
                            Directorate of Forensic Science Laboratories, Mumbai
                        {% else %}
                            Regional Forensic Science Laboratory, {{ letter.lab_name }}
                        {% endif %}
                        & submit your invoice along with delivery challan & installation report to this department immediately.</p>
                    </div>
                
                <div class="flex justify-center p-10">
                    <div class="flex justify-center">
                        <table class="border border-collapse w-auto" style="page-break-inside: avoid;">
                            <thead>
                                <tr>
                                    <th class="border p-8 m-2">Part No & Description</th>
                                    <th class="border p-8 m-2">Qty</th>
                                    <th class="border p-8 m-2">Unit Price in INR</th>
                                    <th class="border p-8 m-2">Total Price in INR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subproduct in details.subproducts %}
                                    {% with subproduct.quotationitem_set.first as quotationitem %}
                                        <tr>
                                            <td class="border">{{ subproduct.part_name }} <br> Specification-<br> {{ subproduct.specification }}</td>
                                            <td class="border text-center">{{ subproduct.quantity }}</td>
                                            {% if quotationitem %}
                                                <td class="border p-10 m-2">{{ quotationitem.unit_price }} /-</td>
                                                <td class="border p-10 m-2 text-center">{% multiply quotationitem.unit_price subproduct.quantity %}/-</td>
                                            {% else %}
                                                <td class="border p-10 m-2">N/A</td>
                                                <td class="border p-10 m-2">N/A</td>
                                            {% endif %}
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                                <tr>
                                    <td colspan="2" class="border"></td>
                                    <th class="border text-left">Total Basic Price in INR</th>
                                    <td class="border text-center">{{ details.subproducts|multiply_and_add_total_basic_price }}/-</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="border"></td>
                                    <th class="border text-left">+18% GST</th>
                                    <td class="border text-center">
                                        {% with total_basic_price=details.subproducts|multiply_and_add_total_basic_price %}
                                            {% with gst_value=total_basic_price|calc:0.18 %}
                                                {{ gst_value }}/-
                                            {% endwith %}
                                        {% endwith %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="border"></td>
                                    <th class="border text-left">Total Price inclusive of GST</th>
                                    <td class="border p-10 m-2 text-center">
                                        {% with total_basic_price=details.subproducts|multiply_and_add_total_basic_price %}
                                            {% with gst_value=total_basic_price|calc:0.18 %}
                                                {% with total_price_inclusive=total_basic_price|add:gst_value %}
                                                    {{ total_price_inclusive }}/-
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="float-right">
            <p class="px-32 mt-16">Yours,</p><br><br>
            <p class="text-center">(Dr. S.V. Ghumatkar) Director</p>
            <p>Directorate of Forensic Science Laboratories,</p>
            <p>M.S.and Chemical Analyser to Government.</p>
        </div><br>
        <div>
            <p class="ml-10 mt-14">Thanking You </p>
            <br><br><br><br>
            <p class="mt-10 ml-8"><b> Copy to:-</b><br>
            {% if letter.lab_name == "Mumbai" %}
                <p>The Deputy Director, Directorate of forensic Science Laboratories, Mumbai </p><br><br>
                <p>For information w.r.t to your Letter No:- {{ letter.letter_no }} Dated :- {{ letter.letter_date }}</p>
            {% else %}
            The Deputy Director Regional Forensic Science Laboratory, {{ letter.lab_name }}<br>
            For information w.r.t to your Letter no:- {{ letter.letter_no }} Dated :- {{ letter.letter_date }}

            {% endif %}
        </div>
    </div>
</body>
<script>
    // Show modal on page load
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('inputModal');
        const closeModal = document.getElementById('closeModal');
        const inputForm = document.getElementById('inputForm');
        const javakNoDisplay = document.getElementById('javakNoDisplay');
        const dateDisplay = document.getElementById('dateDisplay');

        modal.style.display = 'block';

        // Close modal on clicking the close button
        closeModal.onclick = function() {
            modal.style.display = 'none';
        }

        // Close modal on clicking outside the modal content
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }

        // Handle form submission
        inputForm.onsubmit = function(event) {
            event.preventDefault();
            const javakNo = document.getElementById('javakNo').value;
            const date = document.getElementById('date').value;

            javakNoDisplay.textContent = 'जावक क्र./No. : ' + javakNo;
            dateDisplay.textContent = 'दिनांक/Date: ' + date;

            modal.style.display = 'none';
        }
    });
</script> 
</html>
