{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Times New Roman';
            {% comment %} font-size: 14px; {% endcomment %}
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
        
        @media print {
            .print {
                display: none;
            }

            .header, .subject-section {
                position: fixed;
                top: 0;
                right: 0;
                width: calc(100% - 10mm);
                background: white;
                z-index: 10;
                padding-right: 10mm;
            }
        }
        
    </style>
    <title>Letter 7</title>
</head>

<body class="font-times text-base">
    <div class="img">
        <img src="{% static '/images/header1.jpg' %}" alt="Description of the image" class="w-full h-40 rounded-lg" />
    </div><br>
    <hr class="border border-black">
    <div class="float-left">
        <p class="font-bold ml-20 mt-4">जावक क्र./No. :</p>
    </div>
    <div class="float-right">
        <p class="font-bold float-right mt-2 pr-20 mr-20">दिनांक/Date:</p>
    </div>
   
    <br><br>
    <b><p class="text-center text-xl">PURCHASE ORDER</p></b>
    <div class="text-1xl text-left m-2 p-2 ml-16">
        {% for provider_name, details in grouped_subproducts.items %}
        <div class="clearfix">
            <div class="float-left w-40">
            <p class="m-2">
                To. <br />
                {{ provider_name }} <br />
                {{ details.address }} <br />
                {{ details.state }}, {{ details.pincode }}
            </p>
            </div>
        
        
            <div class="float-right w-1/2 text-right">
                <p class="mr-44">
                    <p class="mr-30">Email Id: {{ details.email_id }}</p>
                    <p class="mr-30">Contact Number: {{ details.contact_no }}</p>
                </p>
            </div>
        </div>

        
        <div class="flex justify-center">
         
                <b>Sub:- Supply of {{ details.types_of_part }} for {{ details.products }}</b></div>
                <div class="flex justify-center ">
                    <b class="ml-32">Ref:-</b>&nbsp; &nbsp;&nbsp;&nbsp;
            <ol class="list-decimal"  start="1">
             
                <li><b>Service report dated for item {{ details.parts_and_dates|group_parts_and_dates }}</b></li>
                <li><b>Our inquiry No. _____________ dated {{ print_track.printed_date2 }}</b></li>
                <li><b>Your Quotation No.{{quotation.ref_no}} dated {{quotation.quotation_date}}</b>
              
            </ol>
        </div>

        <div class="w-[600] text-left">
            <p class="m-2">&nbsp; Sir,<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; With above reference no.3 , it is requested to supply & install the following items for the
                best performance of the equipment at
             
                {{ letter.lab_name|get_lab_description }}         
                & submit your invoice along with delivery challan & installation report to this department immediately.</p>
        </div>

        <div class="flex justify-center p-10 text-sm page-break">
            <div class="flex justify-center">
                <table class="border border-collapse w-auto" style="page-break-inside: avoid;">
                    <thead>
                        <tr>
                            <th class="border p-2 border-black text-center">Part No & Description</th>
                            <th class="border p-2 border-black text-center">Qty</th>
                            <th class="border p-2 border-black text-center">Unit Price in INR</th>
                            <th class="border p-2 border-black text-center">Total Price in INR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subproduct in details.subproducts %}
                        {% with subproduct.quotationitem_set.first as quotationitem %}
                        <tr>
                            <td class="border border-black px-4">{{ subproduct.part_name }} Specification- {{ subproduct.specification }}</td>
                            <td class="border border-black text-center">{{ subproduct.quantity }} {{subproduct.unit_of_measure}}</td>
                            {% if quotationitem %}
                            <td class="border border-black text-center">{{ quotationitem.unit_price }} /-</td>
                            <td class="border border-black text-center">{% multiply quotationitem.unit_price subproduct.quantity %}/-</td>
                            {% else %}
                            <td class="border border-black p-4 m-2">N/A</td>
                            <td class="border border-black p-4 m-2">N/A</td>
                            {% endif %}
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="border border-black"></td>
                            <th class="border border-black text-left">Total Basic Price in INR</th>
                            <td class="border border-black text-center">{{ details.subproducts|multiply_and_add_total_basic_price }}/-</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="border border-black"></td>
                            <th class="border border-black text-left">+18% GST</th>
                            <td class="border border-black text-center">
                                {% with total_basic_price=details.subproducts|multiply_and_add_total_basic_price %}
                                {% with gst_value=total_basic_price|calc:0.18 %}
                                {{ gst_value }}/-
                                {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="border border-black"></td>
                            <th class="border border-black text-left">Total Price inclusive of GST</th>
                            <td class="border border-black text-center">
                                {% with total_basic_price=details.subproducts|multiply_and_add_total_basic_price %}
                                {% with gst_value=total_basic_price|calc:0.18 %}
                                {% with total_price_inclusive=total_basic_price|add:gst_value %}
                                {{ total_price_inclusive }}/-
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                    </tbody>
                </table><br>
            </div>
        </div>
        <p class="ml-6">Thanking You </p>
        {% endfor %}
    </div>
    <div class="float-right">
        <p class="px-28">Yours,</p><br><br>
        <p class="text-center">(Dr. S.V. Ghumatkar) Director</p>
        <p>Directorate of Forensic Science Laboratories,</p>
        <p>M.S.and Chemical Analyser to Government.</p>
    </div>
    <div>
        <br><br><br><br>
        <p class="mt-10 ml-24"><b> Copy to:-</b><br>
            <p class="ml-24">{{ letter.lab_name|get_lab_description }} </p>
            <p class="ml-24">For information w.r.t to your Letter No:- {{ letter.letter_no }} Dated :- {{ letter.letter_date }}</p>
           
    </div>
    </div>
</body>


</html>
