{% load static %} <!-- Load the static template tag library -->
{%load custom_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <style>
    /* Print-specific styles */
    @media print {
      /* Hide headers and footers */
      header, footer {
        display: none;
      }

      /* Hide URLs, page titles, and time/date */
      .url, .page-title, .time-date {
        display: none;
      }
    }
  </style>
  <title>Letter Format 7</title>
</head>
<body class="font-times text-sm">
  <div class="border border-solid border-black border-2 m-4 max-w-screen">
    <div class="img">
      <img
        src="{% static '/images/header1.jpg' %}"
        alt="Description of the image"
        class="w-full h-56 rounded-lg"
      />
    </div>
    <div class="float-left">
      <p class="font-bold m-4">जावक क्र./No. :</p>
    </div>
    <div class="float-right">
      <p class="font-bold float-right mt-2 pr-20 mr-12">दिनांक/Date:</p>
    </div>
    <br><br><br>
    <div class="text-1xl text-left m-2 p-2">
        <p>
          To. <br />
          {{subproduct.amc_provider}} <br />
        {{amc_provider.address}} <br />
        {{amc_provider.state}},{{amc_provider.pincode}}
        </p>
      <div>
        <div class="flex justify-center p-4">
          <p>
            <b>Sub:-</b> Supply of {{subproduct.type_of_part}} for {{product.name}} Instrument. ( Sr. No. {{product.sr_no}})<br>
            <b>Ref:-</b> 1. Service report dated-{{subproduct.service_report_date}}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. Your Quotation No.- {{quotationinfo.ref_no}} dated-{{quotationinfo.date}}
          </p>
        </div>
        <div class="w-[600] text-left">
          <p>Sir,<br> With reference to your quotation No at Ref 2 above, it is requested to supply & install the following items for the best performance of the equipment at
            {% if letter.lab_name == "Mumbai" %}
                Directorate of forensic Science Laboratories, Mumbai
            {% else %}
                Regional Forensic Science Laboratory, {{ letter.lab_name }}
            {% endif %}
            </p>
          & submit your invoice along with delivery challan & installation report to this department immediately.            
        </div>
      </div>
      <div class="flex justify-center p-10 ">
        <ol class="list-decimal">
          {% for subproduct in product.subproducts.all %}
          <li>
             
              <div class="flex justify-center p-10">
                  <table class="border border-collapse w-auto">
                      <tr>
                          <th class="border p-8 m-2">Part No & Description</th>
                          <th class="border p-8 m-2">Qty</th>
                          <th class="border p-8 m-2">Unit Price in INR</th>
                          <th class="border p-8 m-2">Total Price in INR</th>
                      </tr>
                      <tr>
                          <td class="border">{{ subproduct.part_name }} <br> Specification-<br> {{ subproduct.specification }}</td>
                          <td class="border text-center">{{ subproduct.quantity }}</td>
                          <td class="border p-10 m-2">{{subproductquotationinfo.unit_price}} /-</td>
                          <td class="border p-10 m-2">{% multiply subproductquotationinfo.unit_price subproduct.quantity %}/-

                          </td>

                      </tr>
                      <tr>
                          <td colspan="2" class="border"></td>
                          <th class="border">Total Basic Price in INR</th>
                          <td class="border">{% multiply subproductquotationinfo.unit_price subproduct.quantity %}/-</td>
                      </tr>
                      <tr>
                          <td colspan="2" class="border"></td>
                          <th class="border">+{{subproductquotationinfo.gst_percentage}}% GST</th>
                          <td class="border">{{subproductquotationinfo.gst_value}}</td>
                      </tr>
                      <tr>
                          <td colspan="2" class="border"></td>
                          <th class="border">Total Price inclusive of GST</th>
                          <td class="border">{% multiply_and_add subproductquotationinfo.unit_price subproduct.quantity subproductquotationinfo.gst_value %}



                          </td>
                      </tr>
                  </table>
              </div>
          </li>
          {% endfor %}
      </ol>
      </div><br>
    </div>
    <div class="float-right">
      <p>(Dr. S.V. Ghumatkar) Director</p><br>
      <p>Directorate of Forensic Science Laboratories,</p>
      <p>M.S.and Chemical Analyser to Government.</p>
    </div><br>
    <div>
      <p> Copy to:-</p>
      {% if letter.lab_name == "Mumbai" %} 
      The Deputy Director, Directorate of forensic Science Laboratories, Mumbai  <br>
      For information w.r.t to your Letter No:- {{letter.letter_no}} Dated :- {{letter.letter_date}}

  {% else %}
      The Deputy Director Regional Forensic Science Laboratory, {{ letter.lab_name }} 
      For information w.r.t to your Letter no:- {{letter.letter_no}} Dated :- {{letter.letter_date}}

  {% endif %}
    
    </div>
  </div>
</body>
</html>
