{% load static %}
{% load custom_tags %}

{% block variables %}
    {% with total_basic_price=subproducts_group|multiply_and_add_total_basic_price %}
        {% with gst_value=total_basic_price|calc:0.18 %}
            {% with total_price_inclusive=total_basic_price|add:gst_value %}
                {% with total_basic_price as global_total_basic_price %}
                {% with gst_value as global_gst_value %}
                {% with total_price_inclusive as global_total_price_inclusive %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        .reduced-line-spacing li {
            line-height: 0.7; /* Adjust the value as needed */
        }


        body{
            font-family: 'Times New Roman';
            
        }

        .sign-table {
            width: 100%;
            margin-top: 50px;
        }

        .sign-table th,
        .sign-table td {
            padding: 10px;
            margin: 4px;
            text-align: center;
        }

        .sign-table th {
            background-color: #f0f0f0;
        }
    </style>
    <title>Letter Format</title>
</head>

<body class="font-times text-base m-12">
    <div class=" m-4 max-w-screen reduced-line-spacing_content">
        <div class="grid grid-cols-1 float-right">
            <p class="font-bold">न्या. वै. प्र. शाळा, मुंबई.<br>भांडार विभाग,<br>दि.{{ current_date|date:"d-m-Y" }} </p>
        </div><br><br><br>
        <div class="text-1xl text-left m-8">
            <p>सादर,</p><br>

            <b>विषय :-</b> {{ main_item.name }} करिता {{ product.subproducts.all|unique_amc_providers }} यांचेकडून मागविण्यात आलेल्या दरपत्रकानुसार

                {% for subproduct_type in product.subproducts.all|unique_values:"type_of_part" %}
                {{ subproduct_type }},
            {% endfor %} ची खरेदी करणे बाबत.</p><br>
            <b>संदर्भ :-
        
            <ol class="list-decimal m-4 reduced-line-spacing" start="1">
            </b>  {% for subproduct in product.subproducts.all %}
            {% if forloop.first or subproduct.amc_provider != product.subproducts.first.amc_provider %}
                {% with subproduct.amc_provider as amc_provider %}
                    <li class="m-4">
                        <div class="properlyalign">
                            <p>{{ letter.lab_name }} प्रयोगशाळेतील  {{ product.department_name }} प्रमुखांनी त्यांचे पत्र क्र. {{ letter.letter_no }} दि. {{ letter.letter_date }} व सर्विस रिपोर्ट दि. {{ product.service_report_date }}.</p>
                        </div>
                        
                            <li class="m-4">
                                <p>मा. संचालक यांना सादर करण्यात आलेला प्रस्ताव दि.{{ print_track.printed_date1 }}.</p>
                            </li>
                            {% for provider_name, subproducts in grouped_subproducts.items %}
    <li class="m-4">
        <p>{{ provider_name }} यांना देण्यात आलेले पत्र क्र. {{ print_track.printed_date2 }} दि. .</p>
    </li>
    
    <li class="m-4">
      
            {% for quotation_item in subproduct.quotationitem_set.all %}
                <p>{{ provider_name }} यांचे पत्र क्र. {{ quotation_item.quotation.ref_no }} दि.{{ quotation_item.quotation.quotation_date }}.</p>
            {% endfor %}
        
    </li>
{% endfor %}

                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </ol>
            
        

        <div>
            <ol class="list-decimal m-4" start="1">
                <div class="mt-12">
                    {% for subproduct in product.subproducts.all %}
                        {% if forloop.first or subproduct.amc_provider != product.subproducts.first.amc_provider %}
                            {% with subproduct.amc_provider as amc_provider %}
                                <li>सहायक संचालक, {{ letter.lab_name }} प्रयोगशाळेतील {{ product.department_name }} विभाग यांनी पत्र संदर्भ क्र.{{forloop.counter}} अन्वये
                                    {{ product.name }} करिता {% for subproduct in letter.subproducts.all|unique_values:"amc_provider__name" %}
                                    {{ subproduct }}{% if not forloop.last %}, {% endif %}
                                {% endfor %} यांचेकडून पुढील
                                {% for subproduct_type in product.subproducts.all|unique_values:"type_of_part" %}
                {{ subproduct_type }},
            {% endfor %} ची मागणी केली आहे.</li>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                </div>
            </ol>
        </div>
        

            <div class="flex justify-center p-6">
                <table class="table-auto" style="page-break-inside: avoid;  border: 1px solid black;">
                    <thead>
                        <tr>
                            <th class="border border-black px-2">Sr.No</th>
                            <th class="border border-black px-2">Description</th>
                            <th class="border border-black px-2">Type of part</th>
                            <th class="border border-black px-2">Req Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subproduct in letter.subproducts.all %}
                        <tr>
                            <td class="border border-black px-2">{{ forloop.counter }}</td>
                            <td class="border border-black px-2">{{ subproduct.part_name }}Specification: {{ subproduct.specification }}</td>
                            <td class="border border-black px-2">{{ subproduct.type_of_part }}</td>
                            <td class="border border-black px-2">{{ subproduct.quantity }} {{subproduct.unit_of_measure}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="m-4">
                <ol class="list-decimal" start="2">
                <li>त्यानुसार मा. संचालक यांना {{ product.name }} च मुळ उत्पादकाने अधिकृत केलेली सेवा पुरवठादार कंपनी
                    {% for subproduct in letter.subproducts.all|unique_values:"amc_provider__name" %}
                    {{ subproduct }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                
               <!-- Iterate over quotations related to the product -->

    {% if forloop.parentloop.first %}
        <li>यांचेकडून उपरोक्त</li>
    {% endif %}
    {% for subproduct in quotation_item.subproducts.all %}
        {{ subproduct.type_of_part }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    खरेदीसाठी दरपत्रक मागविण्यास प्रस्ताव दि.{{ print_track.printed_date2 }} सादर करण्यात आला व त्यास दि.__________ रोजी मंजूरी प्राप्त झाली. त्यानुसार पत्र संदर्भ क्र. 3 अन्वये
    {{ quotation_item.amc_provider.name }}{% if not forloop.parentloop.last %}, {% endif %}



<!-- Iterate over grouped subproducts by AMC provider -->
{% for provider, subproducts in grouped_subproducts.items %}
{% if subproducts|length > 1 %}
    <li>
        {{ provider }} यांनी Quotation संदर्भ क्र.{{ forloop.counter }} अन्वये पूढीलप्रमाणे उपरोक्त 
        {% for subproduct in subproducts %}
            {{ subproduct.type_of_part }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        साठी दर कळविले आहेत.
    </li>
{% else %}
    <li>
        {{ provider }} यांनी Quotation संदर्भ क्र.{{ forloop.counter }} अन्वये पूढीलप्रमाणे उपरोक्त Spare/Consumables साठी दर कळविले आहेत.
    </li>
{% endif %}
{% endfor %}

            </ol>
            
            
            
            

<div class="flex justify-center p-10 text-sm">
 

    <table class="table-auto" style="page-break-inside: avoid;  border: 1px solid black;">
        <thead>
            <tr>
                <th class="border border-black px-2">Part No & Description</th>
                <th class="border border-black px-2">Qty</th>
                <th class="border border-black px-2 text-center">Unit Price in INR</th>
                <th class="border border-black px-2">Total Price in INR</th>
            </tr>
        </thead>
        <tbody>
            {% for provider_name, subproducts_group in grouped_subproducts.items %}
                {% for subproduct in subproducts_group %}
                    {% with subproduct.quotationitem_set.first as quotationitem %}
                        <tr>
                            <td class="border border-black px-4">{{ subproduct.part_name }} Specification- {{ subproduct.specification }}</td>
                            <td class="border border-black text-center">{{ subproduct.quantity }} {{subproduct.unit_of_measure}}</td>
                            {% if quotationitem %}
                                <td class="border border-black text-center">{{ quotationitem.unit_price }} /-</td>
                                <td class="border border-black text-center">{% multiply quotationitem.unit_price subproduct.quantity %}/-</td>
                            {% else %}
                                <td class="border border-black text-center">N/A</td>
                                <td class="border border-black text-center">N/A</td>
                            {% endif %}
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td colspan="2" class="border border-black"></td>
                    <th class="border border-black">Total Basic Price in INR</th>
                    <td class="border border-black text-center">{{ subproducts_group|multiply_and_add_total_basic_price }}/-</td>
                </tr>
                <tr>
                    <td colspan="2" class="border border-black"></td>
                    <th class="border border-black">+18% GST</th>
                    <td class="border border-black text-center">
                        {% with total_basic_price=subproducts_group|multiply_and_add_total_basic_price %}
                            {% with gst_value=total_basic_price|calc:0.18 %}
                                {{ gst_value }}.00/-
                            {% endwith %}
                        {% endwith %}
                    </td>
                </tr>
                <tr class="border border-black">
                    <td colspan="2" class="border border-black"></td>
                    <th class="border border-black">Total Price inclusive of GST</th>
                    <td class="border border-black text-center">
                        {% with total_basic_price=subproducts_group|multiply_and_add_total_basic_price %}
                            {% with gst_value=total_basic_price|calc:0.18 %}
                                {% with total_price_inclusive=total_basic_price|add:gst_value %}
                                    {{ total_price_inclusive|floatformat:"2" }}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </td>                                                
                </tr>
            {% endfor %}
         
        </tbody>
    </table>
    

</div>
<div class="">
    <ol class="list-decimal" start="4">
    {% with total_basic_price=subproducts_group|multiply_and_add_total_basic_price %}
    {% with gst_value=total_basic_price|calc:0.18 %}
    {% with total_price_inclusive=total_basic_price|add:gst_value %} 
    <li>उपरोक्त मुद्दा क्र. 3 नुसार एकूण आवश्यक
        {% for subproduct_type in product.subproducts.all|unique_values:"type_of_part" %}
    {{ subproduct_type }}
{% endfor %} ची किंमत रु. {{ global_total_basic_price }}/-
        + रु. {{ global_gst_value }} (GST) = रु. {{ global_total_price_inclusive }}/-
        अशी आहे.
    </li><br>
    {% endwith %}
    {% endwith %}
    {% endwith %}
</div>
</ol>

<ol class="list-decimal" start="5">
{% if quotation_expense_criteria_text %}
    <li>{{ quotation_expense_criteria_text }}</li><br>
{% endif %}

<li>सदर उपकरणांची खरेदी किंमत रु.{{product.price}}/- इतकी आहे </li>  <br>

<li>सदर उपकरणांचा सन {{product.installation_date|date:"Y"}} मध्ये {{product.amc_period}} महिन्यांचा देखभाल करार करण्यात आला आहे.</li><br>

<li> मुद्दा क्र.4 नुसार आवश्यक
    {% for subproduct_type in product.subproducts.all|unique_values:"type_of_part" %}
    {{ subproduct_type }},
{% endfor %}
    {% if quotation_expense_criteria_text %}
        ची एकूण प्रस्तावित खरेदी रु. {{ global_total_price_inclusive }}/- GST सह आहे. सदरची रक्कम यंत्रसामग्री पुस्तके किंमतीच्या {% if '25%' in quotation_expense_criteria_text %}२५{% else %}२०{% endif %} % मर्यादेत 
    {% endif %}
    (यंत्रसामग्री पुस्तकी किंमत रु. {{ product.price }}/-) असल्याने, मा. महोदयांना विनंती करण्यात येते की, उपरोक्त नमूद केलेल्या अधिकारानुसार,
        
    {% if products.count > 1 %}
    {% for product in products %}
        {{ product.amc_provider }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% else %}
    {{ product.amc_provider }}
{% endif %}
    
    यांचेकडून प्रस्तावात नमूद केलेल्या
    {% for subproduct_type in product.subproducts.all|unique_values:"type_of_part" %}
                {{ subproduct_type }},
            {% endfor %}
    ची खरेदी करण्यास व त्यानुसार खरेदी आदेश वितरित करण्यास मंजूरी प्रदान करावी.</li>
</ol>

                </ul>
        </div><br>
              <div class="m-40 mt-0">
            <table class="sign-table">
                <tr>
                    <td>
                        <p>श्री. वि. ग. विरकर <br>वरिष्ठ लिपीक</p><br><br>
                    </td>
                    <td>
                        <p>श्री. र. वि. गावीत<br>सहायक अधिक्षक (भांडार)</p><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>श्री. प्र. ज. कदम<br>प्रशासकीय अधिकारी (भांडार)</p><br><br>
                    </td>
                    <td>
                        <p>श्री.सं.शा.प्रभावळे <br>सहा. संचालक तथा भांडार विभाग नियंत्रक.</p><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>डॉ.सं.औ. चेट्टी <br>उपसंचालक तथा सदस्य सचिव</p><br><br>
                    </td>

                    <td>
                        <p>डॉ. सं. वि. घुमटकर, <br>संचालक </p><br><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
</body>
</html> 
