<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <title>Supplier quotation request</title>
</head>
<body class="font-times text-sm">
    <div class="border border-solid border-black border-2 m-4 relative">
        <div class="img">
            {% load static %}
            <img src="{% static '/images/header1.jpg' %}" alt="Description of the image" class="w-full h-64 rounded-lg" />
        </div>
        <div class="float-left">
            <p class="font-bold m-8 p-4">जावक क्र./No. :</p>
        </div>
        <div class="float-right">
            <p class="font-bold float-right m-8 pr-20 mr-12">दिनांक/Date:</p>
        </div>
        <br><br><br>
        <div class="text-1xl text-left m-8 p-8">
            <p>
                To. <br />
                {{ amc_provider }} <br />
                17 & 17A, Ground Floor, Udyog Bhavan, <br />
                Sonavala Road, Goregaon (E.) <br />Mumbai- 400 063.
            </p>
            <div>
                <div class="flex justify-center p-6">
                    <p>
                        <b>Sub:-</b> Quotation for supply of {{ subproduct.type_of_part }} for {{ product.name }} Instrument. <br />
                        <b>Ref:-</b> Your Service report dated {{ service_report_date }} .
                    </p>
                </div>
                <div class="w-[600] ml-20 text-left">
                  Please submit your lowest quotation immediately to this Mumbai office for the supply and installation of spare for {{ product.name }} located at Deputy Director, Regional Forensic Science Laboratory. {{ product.letter.lab_name }}.
                </div>
            </div>
            <div class="flex justify-center p-6">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="border px-4 py-2">Sr.No</th>
                            <th class="border px-4 py-2">Description</th>
                            <th class="border px-4 py-2">Req Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subproduct in related_subproducts %}
                        <tr>
                            <td class="border px-4 py-2 text-left">{{ forloop.counter }}</td>
                            <td class="border px-4 py-2 text-left">
                                {{ subproduct.part_name }} Specification {{ subproduct.specification }}
                            </td>
                            <td class="border px-4 py-2">{{ subproduct.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br><br><br><br><br><br>
        </div>
        <div class="ml-12 bottom-0 right-0 absolute">
            <b><p>(Dr. S.V. Ghumatkar) <br>Director.</p>
            <br />
            <p>Directorate of Forensic Science Laboratories,</p>
            <p>M.S..and Chemical Analyser to Government.</p></b>
        </div>
    </div>
</body>
</html>
