<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Spare Requirement</title>
</head>
<body class="font-times text-sm">
    <div class="border border-solid border-black border-2 m-4">
        <div class="grid grid-cols-1 float-right">
                    <p class="font-bold">न्या. वै. प्र. शाळा, मुंबई.<br>भांडार विभाग,<br>दि. १३ .०२.२०२३</p>
                </div>
                <br>
            
            <div class="text-1xl text-left m-8">
                <p class="m-8"></p>
            <p>&emsp;&emsp;सादर,<br><br>&emsp;&emsp;&emsp;सविनय सादर करण्यात येते की, या संचालनालयाच्या अधिपत्याखालील उपसंचालक, प्रादेशिक न्यायसहायक वैज्ञानिक प्रयोगशाळा, पुणे यांनी त्याचे पत्र क्र. पी-एसटी/१५/२४, दि.०८.०१.२०२४ अन्वये दारुबंदी व उत्पादनशुल्क विभागात कार्यरत असलेले GCHS (Make-DANI) या उपकरणासाठी खालील वर्णनाच्या Spare ची आवश्यकता असल्याचे सादर केले आहे.(सोबत मागणीपत्र व सर्व्हस रिपोर्ट प्रत)</p>
            </div>

        <div>
            <div class="flex justify-center p-6">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="border px-4 py-2">Sr.No</th>
                            <th class="border px-4 py-2 ">Description</th>
                            <th class="border px-4 py-2">Req Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 text-left">1</td>
                            <td class="border px-4 py-2 text-left">Spare for Master VH Power Supply Specification –(Input AC230V/Output DC 12V and 6Amp 72Watt Power Supply)</td>
                            <td class="border px-4 py-2">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



            <div class="w-[600] ml-20 text-left">
            <ul class="list-disc text-left mx-4"></ul>
            <li>उपकरणाची खरेदी सन २०१९ मध्ये झाली असून खरेदी किंमत रु.४९,३७,५००/- इतकी आहे.</li>
            <li>तसेच सदर उपकरणाचा वार्षिक देखभाल सेवा करार करण्यात आलेला आहे.</li>
                <li>तरी वरील Spare खरेदीसाठी अधिकृत वार्षिक देखभाल सेवा करार पुरवठादार कंपनी</li>
                <li>M/s, Chromline Equipment Company याचेकडून दरपत्रक मागविण्यास मंजुरी मिळावी, हीविनंती.</li>
            </ul>
        </div>
        


        <div class="ml-16 font-bold">
            <p>श्री. र. वि. गावीत : <br> सहायक अधिक्षक (भांडार),</p>
            <p>श्री. प्र. ज. कदम : <br> प्रशासकिय अधिकारी (भांडार)</p>
            <p>श्री. सं. शा. प्रभावळे : <br> सहायक संचालक तथा भांडार विभाग नियंत्रक</p>
            <p>डॉ. सं. औ. चेट्टी : <br> उपसंचालक तथा सदस्य सचिव</p>
            <p>डॉ. सं.वि. घुमटकर : <br> संचालक</p>
        </div>

</div>
</body>
</html>
