*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.hero{

width: 100%;
min-width: 100vh;
/* display: flex;
align-items: center; */
/* background-color: bisque; */
background-position: center;
background-size: cover;
padding: 10px 10%;
overflow: hidden;
position: relative;
  }
  nav{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large
    /* background-color: bisque; */
  }
  .logo{
    width: 140px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
margin: 10px 15px;
  }
  nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
  }
  .btn{
    /* text-decoration:  none;
    color: #333;
    margin-right: 15px;
    font-weight: 400; */
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881 , #c430d7);
    font-size:  14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
  }
  .content{
    /* background-color: bisque; */
    margin-top: 100px;
    margin-left: 100px;
    max-width: 600px;
  }
  .content h1{
    font-size: 70px;
    color: #222;

  }
  .content p{
    margin: 10px 0px 30px ;
    color : #333;
    line-height: 1.6;
  }
  .content .btn{
    padding:  15px 80px;
    font-size: 16px;
  }
  .btn:hover{
    border-top-right-radius: 30px;
  }
  
  .feature-img{
    width:  540px;
    position: absolute;
    bottom: 0;
right: 10%;
top: 20%;
  }
/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #efd1b9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-weight: bold;
  }
  
  .logo {
    width: 200px;
  }

  .herotext {
    text-align: left;
    padding: 50px;
  }
 
  img{
    height: 400px;
    width: fit-content;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
   
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  } */
  